.div-1,
.div-2,
.div-3 {

background: red;
color: white; padding: 10px;
margin: 10px;
width: 200px;
height: 200px;
}

@media (min-width: 1024px) { div-1 {
background-color: blue;
}
}

@media (max-width: 768px) 
{.div-2 {
background-color: gold;
}
}

@media (max-width: 400px) 
{.div-3 {
background-color: pink;
}
}
